extends layouts/app

block seo
  title whishlist!

  link(rel="canonical" href="/")

block content
  #app
    .home
      .Aligner
        .Aligner-item
          img(src='/img/logo.png', alt='whishlist logo')
          h1 Dev-Starter-Kit
          .menu
            ul
              li
                a(href='http://starterkit.whishlist.com', target='new') Documentation
              li
                a(href='http://www.whishlist.com', target='new') whishlist.Com
          .version-num version 4.0.0

  script(src='/js/dist/vendors~FirstComp.js')
  script(src='/js/dist/FirstComp.js')
  script(src='/js/dist/main.js')
