@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "bookslist";



body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
    background-image: linear-gradient(to right top, #8e27ff, #7b21fa, #651bf5, #4b16f0, #2512eb);
    overflow-x: hidden;
}
